.scoreboard {
  border: 1px solid blue;
  height: 150px;
  width: 500px;
}

.board {
  border: 1px solid green;
}

.addPlayerForm {
  border: 1px solid pink;
}

/* // SCOREBOARD - Player info */

.playerInfo {
  display: flex;
  justify-content: space-between;
}

/* // PLAYING FIELD */

.playingField {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 5px;
  border: 1px solid red;
}

.gridBox {
  border: 1px solid pink;
}