body {
  font-family: arial;
  color: #FAFAFA;
  text-transform: uppercase;
}

.scoreboard {
  background: #333;
  box-shadow: 0 4px 0px #333;
  border-radius: 15px;
  width: 500px;
  margin: 5px;
}

.board {
  border: 1px solid green;
}

.addPlayerForm {
  width:250px;
  position: relative;
  left: 30%;
}

/* // SCOREBOARD - Player info */
.header {
  padding: 5px 10px;
  text-align: center;
  display: flex;
  align-items: center;
  background-color: #222;
  border-radius: 15px 15px 0 0;
  border-bottom: solid 2px #444;
}

.header h1 {
  flex-grow: 1;
  font-size: 1.5em;
  letter-spacing: 3px;
  font-weight: normal;
}

.stats {
  margin-top: 0;
  font-weight: normal;
  width: 200px;
}

  .stats td:first-child {
    width:100px;
    font-weight: normal;
    letter-spacing: 2px;
    color: #666;
    font-size: .7em;
  }

  .stats td:last-child {
    text-align: left;
    font-weight: normal;
    letter-spacing: 2px;
    color: #666;
    font-size: .7em;
  }

.playerInfo {
  position: relative;
  left: 10px;
  display: flex;
  justify-content: space-between;
  font-size: 1.2em;
  letter-spacing: 2px;
}

.playerScoreButtons {
  float: right;
  position: relative;
  right: 15px;

}

.minusBtn{
  box-shadow: 0 4px 0px #333;
  border-radius: 5px;
  background: #ef5350;
}

.addBtn{
  box-shadow: 0 4px 0px #333;
  border-radius: 5px;
  background: #66BB6A;
}

.removePlayerButton{
  box-shadow: 0 4px 0px #333;
  border-radius: 5px;
  background: blue;
}

/* // PLAYING FIELD */
  .statusbar{
    background: blue;
    box-shadow: 0 4px 0px #333;
    border-radius: 15px;
    width: 500px;
    margin: 5px;
    text-align: center;
  }
  .startBtn{
    margin: 5px;
  }
/* // PLAYING FIELD */

.playingField {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 5px;
  border: 1px solid red;
  width: 500px;
}

.gridBox {
  border: 1px solid pink;
  width: 100%;
  height: 0;
  padding-bottom: 100%;
  cursor: pointer;
}

.pf-2{
  grid-template-columns: repeat(3, 1fr);
}

.pf-3{
  grid-template-columns: repeat(4, 1fr);
}

.pf-4{
  grid-template-columns: repeat(5, 1fr);
}