.scoreboard {
  border: 1px solid blue;
  height: 150px;
  width: 500px;
}

.board {
  border: 1px solid green;
}

.addPlayerForm {
  border: 1px solid pink;
}

/* // SCOREBOARD - Player info */

.playerInfo {
  display: flex;
  justify-content: space-between;
}

/* // PLAYING FIELD */

.playingField {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  border: 1px solid red;
  height: 300px;
  width: 100%;
}

.gridBox {
  border: 1px solid pink;
  /* flex: 0 0 32%; */
}